@model AmaraCode.CManager.Models.ConversationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Company: @Model.CompanyName</h2>
<h4>Create Conversation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ID" class="form-control" />
                <input type="hidden" asp-for="CompanyID" class="form-control" />
                <input type="hidden" asp-for="Created" class="form-control" />
                <input type="hidden" asp-for="CompanyName" class="form-control" />
                <input type="hidden" asp-for="ReturnUrl" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discussion" class="control-label"></label>
                <input asp-for="Discussion" class="form-control" />
                <span asp-validation-for="Discussion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CallBack" /> @Html.DisplayNameFor(model => model.CallBack)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Model.ReturnUrl">Back to List</a>
</div>

